# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.city.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\komp\medieval-city\city\.idea\.idea.city\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
